
body {
    font-family: 'Raleway', sans-serif;
    background: url("https://bootstrapbay.com/assets/img/color29.jpg") no-repeat center fixed; 
    background-size: cover;
}
h1 {
    font-size: 50px;
    font-weight: bold;
}

.panel-title {
    font-size: 18px;
    font-weight: bolder;
    text-decoration: underline;
}

label {
    font-size: 14px;
    font-weight: bolder;
}

th {
    font-size: 16px;
    font-weight: bolder
}

.clock {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    height: 100px;
    width: 70%;
    line-height: 100px;  
    margin: 50px auto 0;
    padding: 0 50px;
    background:	#005488;
    color: rgb(215, 216, 216);
    text-align: center;
    border-radius: 15px;
    text-shadow: 0 0 1px rgb(247, 245, 243);
    box-shadow: 0 0 7px rgb(34, 34, 34);
  }

  img {
    max-width:20%;
    max-height:20%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }